<div class="body">
  <div class="container">

        <div class='col-xs-12'>
          <h2>ユーザー一覧</h2>
            <table class="table">
                <thead>
                   <tr>
                      <th>プロフィール画像</th>
                      <th>名前</th>
                      <th>プロフィール</th>
                   </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td><%= attachment_image_tag user, :profile_image, :fill, 150, 150, fallback:'no_image.jpg' , size:'100x100' %></td>
                        <td><%= link_to user.name,user_path(user),:style=>"color:red;" %></td>
                        <td><%= user.introduction %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @users %>
        </div>

  </div>
</div>