/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header-text {
  position: absolute;
  top: 3px;
  left: 1200px;
  height:100%;
  width: 100%;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 footer {
  margin-top: auto;
  font-family: Trebuchet MS;
  font-size: 15px;
  color: #696969;
  background-color: #f5f5f5;
  text-align: center;
  padding: 15px 0;
}

.iine__button{
    background: linear-gradient(to right, #feb400, #FFE300);
    line-height: 42px;
    color: #6d3701;
    font-size: 20px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
 }

#error_explanation {
  color: red;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';